{% block content %}
    <h1>Welcome to Totally Theo's Podcast</h1>
    <p>Check out our latest episodes:</p>
    <ol>
        <li><a href="https://open.spotify.com/episode/1FdIcglPk66kmk48jlEPyX?si=51ef5d35c60f4569">Episode: Katte, Cults en Drome droom</a></li>
        <li><a href="https://open.spotify.com/episode/09rqPwSG5RCP5rQzUUr1KF?si=b06ed58550194bd6">Episode: Populere Musiek</a></li>
        <li><a href="https://open.spotify.com/episode/6JjzYy8vELpt5pwwyGpC6x?si=9c1d3a24ce5f4628">Episode: Matrieks keuring of nie keuring?</a></li>
        <li><a href="https://open.spotify.com/episode/204uuofqdzvBNkJwdJuDP1?si=58072eaf25ad43a0">Episode: Die Goed, Die sleg, Die Covid</a></li>
        <li><a href="https://open.spotify.com/episode/69VkfkFhmYX1eS7HKciZnn?si=ccce4eac054e44c3">Episode: Eat, Sleep, Meme,Repeat</a></li>
        <li><a href="https://open.spotify.com/episode/01W59m7ePxES6XudBT5lKC?si=faf349c5d03a45c2">Episode: Into/Inleiding(Kort en semi kragtig)</a></li>
        <!-- Add more episode items as needed -->
    </ol>
    <p>Listen to all episodes on <a href="https://open.spotify.com/show/your_podcast_id">Spotify</a>.</p>
{% endblock %}
